* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cooper";
  src: url(./fonts/Cooper-Bold.woff2) format("woff2");
  line-height: 1.1em;
}

@font-face {
  font-family: "Cooper-bold";
  src: url(./fonts/Cooper-Black.woff2) format("woff2");
  line-height: 1.1em;
}

@font-face {
  font-family: "Basteleur";
  src: url(./fonts/Basteleur-Moonlight.woff2) format("woff2");
}

@font-face {
  font-family: "Basteleur-bold";
  src: url(./fonts/Basteleur-Bold.woff2) format("woff2");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Cache-misère, la page dépasse un peu de 100vw */
  scroll-padding-top: 80px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #211a19;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cooper", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 1.1em;
}

.material-symbols-rounded {
  user-select: none;
  margin-right: 10px;
  position: relative;
  top: 5px;
  transform: scale(1.2);
}

.cooper {
  font-family: "Cooper", serif;
  font-weight: 400;
  font-style: normal;
}

.cooper-bold {
  font-family: "Cooper-bold", sans-serif;
}

.quicksand-400 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.quicksand-600 {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.wave {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.wave.bottom {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave.bottom svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 60px;
}

.wave .shape-fill {
  fill: #faf4e8;
}

.wave .shape-fill.dark {
  fill: #211a19;
}

.btn_wrapper {
  position: relative;
}

.btn_wrapper:hover > .btn_star_bottom_right,
.btn_wrapper:hover > .btn_star_top_left {
  opacity: 1;
}

.btn_primary {
  display: flex;
  padding: 1.2em 2.6em;
  text-align: center;
  transition: all 0.15s ease-out 0s;
  font-weight: 600;
  border-radius: 48px;
  box-shadow: 0px 0px 0px 2px #56b88a inset;
  text-decoration-line: none;
  position: relative;
  overflow: hidden;
}

.btn_star_top_left.black,
.btn_star_bottom_right.black {
  background-color: #000;
}

.btn_star_top_left {
  width: 20px;
  height: 28px;
  background-color: #56b88a;
  position: absolute;
  top: -0.8rem;
  left: -0.8rem;
  mask: radial-gradient(10px 14px at 10px 14px, #0000 99%, #000) -10px -14px;
  transition: all 0.1s ease 0.1s;
  opacity: 0;
  animation: btn_star_pop 0.4s ease-out infinite;
}

.btn_star_bottom_right {
  width: 20px;
  height: 28px;
  background-color: #56b88a;
  position: absolute;
  bottom: -0.8rem;
  right: -0.8rem;
  mask: radial-gradient(10px 14px at 10px 14px, #0000 99%, #000) -10px -14px;
  transition: all 0.15s ease 0.05s;
  opacity: 0;
  animation: btn_star_pop 0.4s ease-out infinite;
}

@keyframes btn_star_pop {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

.bp_text {
  font-size: 1.2rem;
  color: #211a19;
  text-align: center;
  font-weight: 600;
  transition: color 0.1s ease-out;
}

.bp_bg {
  width: 100%;
  height: 100%;
  background-color: #56b88a;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.bp_hover {
  width: 4%;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  position: absolute;
  left: 44%;
  top: 48%;
  transform: translateY(2em) scale(1);
  mask: radial-gradient(5px at 5px 5px, #0000 99.9%, #000) -5px -5px;
  transition: all 0.2s ease-out;
  z-index: -1;
  border-radius: 50%;
}

.btn_primary:hover .bp_hover {
  transform: scale(56);
}

.btn_primary:hover .bp_text {
  color: #000000;
}

.star {
  position: absolute;
  top: -8rem;
  width: 100%;
  height: 100%;
}

/* BOUTON SECONDAIRE */

.btn_secondary {
  display: flex;
  padding: 1.2em 2.6em;
  text-align: center;
  transition: all 0.15s ease-out 0s;
  font-weight: 600;
  border-radius: 48px;
  box-shadow: 0px 0px 0px 1.5px #211a19 inset;
  text-decoration-line: none;
  position: relative;
  overflow: hidden;
}

.bs_text {
  font-size: 1.2rem;
  color: #211a19;
  text-align: center;
  font-weight: 600;
  transition: color 0.1s ease-in-out;
}

.btn_secondary:hover .bs_text {
  color: #ffffff;
}

.bs_hover {
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: scale(1);
  transition: all 0.2s ease;
  z-index: -1;
  border-radius: 50%;
}

.bs_question {
  color: #bcb3a1;
  position: absolute;
  right: 2%;
  bottom: -65%;
  font-size: 5.7em;
  transition: all 0.2s ease;
  z-index: -1;
  opacity: 0;
  transform-origin: center 80%;
}

.btn_secondary:hover .bs_hover {
  transform: translateY(-3.8em) scale(1.3);
}

.btn_secondary:hover .bs_question {
  opacity: 0.15;
  animation: bs_question_rotate 0.4s ease-in-out infinite alternate;
}

@keyframes bs_question_rotate {
  0% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(2.5deg);
  }
}

.bs_anim_question {
  font-size: 1.2rem;
  color: #211a19;
  text-align: center;
  font-weight: 600;
  transition: color 0.1s ease-in-out;
  position: absolute;
  top: -10%;
}

.btn_nav_primary {
  display: flex;
  padding: 0.8em 2.1em;
  text-align: center;
  transition: all 0.15s ease-out 0s;
  font-weight: 500;
  border-radius: 64px;
  background-color: #56b88a;
  box-shadow: 0px 0px 0px 2px #56b88a inset;
  text-decoration-line: none;
  position: relative;
  overflow: hidden;
}

.bnp_text {
  font-size: 1.125rem;
  color: #211a19;
  text-align: center;
  font-weight: 600;
  transition: color 0.1s ease-in-out;
  z-index: 1;
}

.btn_nav_primary:hover .bnp_text {
  color: #ffffff;
}

.bnp_hover {
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #000000;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  transform: scale(1);
  transition: all 0.2s ease;
  border-radius: 100px;
}

.btn_nav_primary:hover .bnp_hover {
  transform: translateY(-2.2em) scale(1.4);
}

.relative {
  position: relative;
}

.text_center {
  text-align: center;
}

.mobile_none {
  display: initial;
}

.mobile_only {
  display: none;
}

.inline {
  display: inline;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: auto;
  height: auto;
}

.modal .modal-button {
  transition: all 0.1s ease-out;
}

.modal .modal-button:hover {
  filter: brightness(0.7);
}

.modal input[type="checkbox"] {
  display: none;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 5px;
  background-color: #211a19ae;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(90vw + 16px);
  max-height: 90vh;
  background-color: #faf4e8;
  border: 6px solid #faf4e8;
  border-radius: 20px;
}

.modal-content > * {
  object-fit: contain;
  height: auto;
  max-width: 90vw;
  max-height: 90vh;
  border-radius: 16px;
}

.modal input[type="checkbox"]:checked + .modal-container {
  display: flex;
  z-index: 99;
  animation: reveal-modal 0.2s;
}

@keyframes reveal-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #faf4e8;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 16px;
}

b {
  font-weight: 600;
}

.title_wip {
  margin-left: 10rem;
}

.title_wip::before {
  content: "";
  position: absolute;
  width: 3.2em;
  height: 3.2em;
  background-color: #56b88a;
  position: absolute;
  bottom: -0.6em;
  left: -4em;
  mask: radial-gradient(1.6em 1.6em at 1.6em 1.6em, #0000 10% 99%, #000) -1.6em -1.6em;
  transition: all 0.15s ease 0.05s;
  /* animation: 20s linear 0s infinite rotation_360; */
}

.title {
  margin-left: 10rem;
}

.title::before {
  content: "";
  position: absolute;
  width: 3.2em;
  height: 3.2em;
  background-color: #56b88a;
  position: absolute;
  bottom: -0.6em;
  left: -4em;
  mask: radial-gradient(1.6em 1.6em at 1.6em 1.6em, #0000 10% 99%, #000) -1.6em -1.6em;
  transition: all 0.15s ease 0.05s;
  /* animation: 20s linear 0s infinite rotation_360; */
}

/* .title::after {
    content: "01";
    font-family: "Basteleur";
    position: absolute;
    font-size: 2.4em;
    color:#3a2d27;
    left: -1em;
    transition: all 0.15s ease 0.05s;
    z-index: 1;
} */

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #faf4e8f2;
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0px;
  z-index: 2;
  box-shadow: 0px 0px 5px 2px #faf4e8 inset;
  transition: top 0.25s ease 0.05s;
}

#nav_blur {
  width: inherit;
  height: inherit;
  position: absolute;
  backdrop-filter: blur(5px);
  mask: linear-gradient(to bottom, black 0 75%, transparent);
  z-index: -2;
}

#nav_container {
  width: 100%;
  padding: 0 min(5%, 6rem);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav_button_group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.btn_nav_middle {
  padding: 0.8em 2.1em;
  position: relative;
  font-weight: 500;
  text-align: center;
  transition: all 0.15s ease-out 0s;
  border-radius: 16px;
  width: max-content;
}

.btn_nav_middle::before {
  content: "";
  position: absolute;
  width: calc(100% - 4.2em);
  height: 2px;
  transform-origin: 100% 50%;
  transform: translateY(-0.4em) scaleX(0);
  background-color: #bcb3a1;
  /* background: linear-gradient(90deg, #bcb3a1 0 65%, transparent 65% 100%); */
  background-repeat: repeat-x;
  background-size: 16px 4px;
  bottom: 0;
  border-radius: 4px;
  transition: transform 0.3s ease 0s;
  animation: dashed_line linear 1s infinite;
}

.btn_nav_middle:hover::before {
  transform-origin: 0% 50%;
  transform: translateY(-0.4em) scaleX(1);
}

@keyframes dashed_line {
  0% {
    background-position: 0 0px;
  }
  100% {
    background-position: 16px 0px;
  }
}

.nav_button_group > a {
  font-size: 1.125rem;
  text-decoration-line: none;
  color: #211a19;
}

#logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

#logo > a > img {
  width: 48px;
  height: 48px;
  transition: transform 0.15s ease-out 0s;
  background: #211a19;
  border-radius: 8px;
}

#logo > a > img:hover {
  transform: scale(1.1);
}

#logo > a {
  font-size: 1.3rem;
  line-height: 1em;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main > *:last-child {
  margin-bottom: 64px;
}

main > section {
  width: 100%;
  padding: 4rem min(5%, 6rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.separator {
  padding-top: 48px;
  padding-bottom: 48px;
}

main > .button {
  margin: 48px 0px;
}

.hero_area {
  align-items: center;
  gap: 80px;
  padding-top: 0;
}

.text_fill {
  background: linear-gradient(90deg, #bcb3a1 0 50%, transparent 50% 100%);
  background-size: 200% 100%;
  background-clip: text;
  color: transparent;
  background-position-x: 0%;
  animation: 1s ease 0s 1 both text_fill_anim;
}

.text_fill.white {
  background-color: #ffffff;
}

.text_fill.dark {
  background-color: #211a19;
}

@keyframes text_fill_anim {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -100%;
  }
}

#presentation_text_title * {
  line-height: 1.2em;
  text-align: left;
}

/* TEXTE SLIDER */

.slider_wrapper > * {
  display: inline-block;
}

.slider {
  margin-left: 1em;
  height: 4rem;
  overflow: hidden;
  transform: translateY(0.1rem);
}

.slider h1 {
  height: 4rem;
  margin-bottom: 2rem;
  transform: translateY(-0.06em);
  /* color: #000 */
}

.slider > h1:first-child {
  animation: slider_wrapper 8s cubic-bezier(0.34, 0, 0.21, 1.35) 1.5s infinite;
}

@keyframes slider_wrapper {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: -6rem;
  }
  33% {
    margin-top: -6rem;
  }
  53% {
    margin-top: -12rem;
  }
  66% {
    margin-top: -12rem;
  }
  86% {
    margin-top: -18rem;
  }
  100% {
    margin-top: -18rem;
  }
}

#presentation_img {
  height: 70vh;
  position: relative;
}

#presentation_img > img {
  height: inherit;
  object-fit: scale-down;
  filter: drop-shadow(10px 5px 0px #bcb3a1);
  padding: 16px 0;
  position: relative;
}

#presentation_text {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2.4rem;
}

.hero_cta {
  margin-top: 1.4rem;
  display: flex;
  gap: 1rem;
}

.circle_dashed {
  width: 90%;
  aspect-ratio: 1/1;
  position: absolute;
  border-radius: 50%;
  border: 7px dashed #bcb3a1;
  z-index: -1;
  animation: 60s linear 0s infinite rotation_360;
  top: 15%;
  left: 4%;
  right: 0;
}

.inline {
  display: inline;
}

u {
  font-family: inherit;
  font-weight: inherit;
  text-decoration-line: underline;
  text-decoration-color: #56b88a;
}

.client_area {
  background-color: #211a19;
  flex-direction: column;
  align-items: center;
}

.client_content {
  width: 100vw;
  display: flex;
  margin: 4rem;
  justify-content: space-between;
  align-items: center;
  padding: 32px 15%;
  gap: 10%;
}

.client_content > p {
  color: white;
  text-align: center;
}

.client_showcase {
  justify-content: end;
  align-items: flex-end;
}

.client_card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff;
  width: 70%;
  border-radius: 16px;
  padding: 32px 48px;
  gap: 16px;
}

.works_area {
  flex-direction: column;
  gap: 64px;
}

.works_area p {
  text-align: center;
}

.grid {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.grid a {
  text-decoration-line: none;
}

.card {
  display: flex;
  transition: transform 0.15s ease-out 0s;
  background-color: #211a19;
  border-radius: 16px;
  aspect-ratio: 1/1;
  flex: 0.05 0 21%;
  position: relative;
}

.card > img {
  width: 100%;
  height: 100%;
  transition: transform 0.15s ease-out 0s;
  object-fit: cover;
  background-color: #211a19;
  border-radius: inherit;
  position: absolute;
}

.card_focus {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: inherit;
  opacity: 0;
  transition: opacity 0.15s ease-out 0s;
  z-index: 1;
}

.card_focus > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  transition: opacity 0.15s ease-out 0s;
  position: absolute;
  display: none;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover > .card_focus {
  opacity: 1;
}

.card:hover > .card_focus > video {
  display: initial;
}

.gradient {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0), #211a19bb);
  border-radius: 0px 0px 16px 16px;
  transition: opacity 1s ease 0s;
  opacity: 1;
}

.card_infos {
  flex-direction: column;
  padding: 1em;
  transition: opacity 0.8s ease-out 0s;
  position: absolute;
}

.card_infos > h5 {
  text-transform: uppercase;
}

.card_infos > * {
  color: #faf4e8;
  text-shadow: 2px 2px 2px #211a1950;
  text-align: left;
}

.card_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card_category > .category {
  font-size: 12px;
  margin-right: 6px;
  margin-top: 8px;
  padding: 2px 8px;
  text-shadow: none;
}

#contact {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #211a19;
  border-radius: 16px;
  padding: 32px 48px;
  gap: 64px;
}

.contact_photo_alex {
  width: 216px;
  height: 216px;
  object-fit: cover;
  background-color: #56b88a;
  border-radius: 50%;
}

#contact_text {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#contact_text h2,
#contact_text p,
#contact_text u,
#contact_text b {
  color: #faf4e8;
}

#contact_reseaux {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.button > a {
  display: block;
  color: #211a19;
  font-weight: 600;
  text-decoration-line: none;
  background-color: #56b88a;
  padding: 18px 24px;
  border-radius: 12px;
  transition: background-color 0.15s ease-out 0s, border-color 0.15s ease-out 0s;
}

.button.icon > a {
  border-radius: 16px;
  padding: 10px 24px 18px 22px;
}

.button.icon span {
  color: #211a19;
}

.button.rounded > a {
  border-radius: 64px;
}

.button.black > a {
  color: #faf4e8;
  background-color: #211a19;
}

.button.black:hover > a {
  background-color: #2e2423;
  border-color: #2e2423;
}

.button:hover > a {
  background-color: #66d2a0;
  border-color: #66d2a0;
}

/* 

PAGES DE PROJET

*/

.bg_black {
  background-color: #211a19;
  color: #faf4e8;
}

.bg_wip {
  background-color: #ebeb23;
}

.div_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.same_width {
  padding-left: inherit;
  padding-right: inherit;
  width: inherit;
}

#project_info {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px 15%;
}

.center {
  justify-content: center;
  align-items: center;
}

#project_info *:not(.category) {
  color: inherit;
}

#project_title {
  text-transform: uppercase;
}

#project_description {
  font-size: 20px;
}

.category {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: #211a19;
  font-weight: 600;
  font-size: 17px;
  background-color: #56b88a;
  padding: 6px 18px;
  border-radius: 28px;
}

#project_client {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

#project_client > img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

#project_client a {
  text-decoration-line: none;
}

#project_client a:hover {
  text-decoration-line: underline;
}

.section_highlight {
  width: inherit;
  padding: 32px 15%;
  gap: 64px;
}

.relative {
  position: relative;
}

.section_video {
  max-width: 34vw;
  max-height: 70vh;
  border-radius: 16px;
}

.section_video > video,
.section_video > iframe {
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  border-radius: inherit;
  object-fit: contain;
}

.section_video > iframe {
  width: 34vw;
  aspect-ratio: 16/9;
}

.deco_active_son {
  position: absolute;
  bottom: -5%;
  right: -36%;
  rotate: -7deg;
}

.section_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  gap: 32px;
}

.section_image {
  width: 100%;
  padding: 32px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section_image > .div_row {
  width: inherit;
}

.wrap {
  flex-wrap: wrap;
}

.div_row .showcase {
  width: calc(70vw / 3.2);
  height: calc(70vw / 3.2);
  object-fit: cover;
}

.gap {
  gap: 24px;
}

.showcase {
  transition: all 0.15s ease-out 0s;
  border-radius: 16px;
}

.banner {
  width: 70vw;
  height: 200px;
  object-fit: cover;
  flex: 1 1 auto;
}

.stats {
  color: #faf4e8;
  font-weight: 600;
  text-decoration-line: none;
  background-color: #211a19;
  padding: 14px 22px;
  border-radius: 32px;
}

.stats.icon {
  padding: 13px 26px 17px 20px; /* code pourri pour contourner l'icône mal positionnée */
}

#project_bottom {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #211a19;
  padding: 32px 10%;
  margin-bottom: 0px;
}

#project_bottom > h2 {
  color: #faf4e8;
}

/* 

ABOUT PAGE

*/

.about_main_area {
  width: 100%;
  display: flex;
  margin-bottom: 50vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}

.about_img {
  height: 80vh;
  filter: drop-shadow(7px 3px 0px #bcb3a1);
  animation: 1s cubic-bezier(0.34, 0, 0.21, 1.35) 0s both start_slide;
  position: absolute;
  left: -5%;
  top: 50%;
  z-index: -1;
}

.about_main_photo {
  height: 15vh;
  filter: drop-shadow(7px 3px 0px #bcb3a1);
  animation: 1s cubic-bezier(0.34, 0, 0.21, 1.35) 0s both start_slide;
  position: absolute;
  top: 83%;
  left: -3%;
  border: 10px solid white;
  border-radius: 4px;
  z-index: -1;
}

@keyframes start_slide {
  0% {
    opacity: 0.5;
    transform: translate(0%, 5vh) rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0) rotate(0);
  }
}

/* 

FOOTER

*/

footer {
  width: inherit;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #211a19;
  padding: 48px 0;
  gap: 24px;
}

footer * {
  color: #faf4e8;
  text-align: center;
}

#footer_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80vw;
}

#footer_content_name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_content_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_content_links h5 {
  margin-bottom: 12px;
}

.footer_content_links a {
  margin-bottom: 6px;
}

.footer_content_links a {
  text-decoration-line: none;
}

.footer_content_links a:hover {
  text-decoration-line: underline;
}

@keyframes rotation_360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 

CSS : RESPONSIVE DESIGN

*/

/* 

CSS : MOBILE + TABLETTES

*/

@media only screen and (min-width: 320px) and (max-width: 768px) {
  html {
    scroll-padding-top: 56px;
  }

  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.2rem;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  .mobile_none {
    display: none;
  }

  .mobile_only {
    display: initial;
  }

  .stats.icon {
    padding: 8px 26px 16px 19px; /* code pourri pour contourner l'icône mal positionnée */
  }

  .wave svg {
    width: calc(150% + 1.3px);
    height: 20px;
  }

  .wave.bottom svg {
    width: calc(150% + 1.3px);
    height: 20px;
  }

  .title {
    margin-left: 5rem;
  }

  .title::before {
    content: "";
    position: absolute;
    width: 3.2em;
    height: 3.2em;
    background-color: #56b88a;
    position: absolute;
    bottom: -0.4em;
    left: -4em;
    mask: radial-gradient(1.6em 1.6em at 1.6em 1.6em, #0000 10% 99%, #000) -1 6em -1.6em;
    transition: all 0.15s ease 0.05s;
    /* animation: 20s linear 0s infinite rotation_360; */
  }

  nav {
    background-color: #211a19;
    padding: 0px 1rem;
    height: 56px;
    box-shadow: none;
  }

  #logo > a {
    width: 32px;
    height: 32px;
  }

  #logo > a > img {
    width: inherit;
    height: inherit;
  }

  #nav_container {
    padding: 0;
  }

  #nav_button_projets {
    display: none;
  }

  .nav_a {
    font-size: 16px;
  }

  .btn_nav_primary {
    padding: 0.6em 1.6em;
  }

  .bnp_text {
    font-size: 1rem;
  }

  main > section {
    padding: 4rem min(5%, 6rem);
  }

  .hero_area {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
  }

  #presentation_img {
    height: 240px;
  }

  .circle_dashed {
    width: 100%;
    aspect-ratio: 1/1;
    border: 5px dashed #bcb3a1;
    animation: 60s linear 0s infinite rotation_360;
    top: 15%;
    left: 0;
    right: 0;
    z-index: -2;
  }

  #presentation_text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  #presentation_text > p {
    order: 1;
  }

  .slider {
    margin-left: 0;
    height: 2.2rem;
  }

  #presentation_text,
  #presentation_text_title * {
    text-align: center;
  }

  .hero_cta {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
  }

  btn_primary {
    padding: 1.1em 2.4em;
  }

  .bp_text {
    font-size: 1.1rem;
  }

  .client_content {
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: auto;
    gap: 48px;
  }

  .client_content > h2 {
    transform: scale(1.3);
  }

  .works_area {
    gap: 48px;
  }

  .grid {
    flex-direction: column;
    align-items: center;
    padding: 0px 3%;
  }

  .card {
    width: 100%;
  }

  .card_focus {
    opacity: 1;
    transition: all 0.15s ease-out 0s;
  }

  .card_infos > h5 {
    font-size: 26px;
  }

  .card_infos > h6 {
    font-size: 16px;
  }

  #contact {
    width: 92%;
    height: auto;
    flex-direction: column;
    border-radius: 16px;
    margin-bottom: 64px;
  }

  #contact_text > .contact_photo_alex {
    width: 120px;
    height: 120px;
  }

  #contact_text {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  #contact_text * {
    text-align: center;
  }

  #contact_text > .button {
    transform: scale(0.8);
  }

  #project_info {
    margin-top: 0px;
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 3%;
    gap: 8px;
  }

  .category {
    font-size: 0.9em;
  }

  .div_row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .div_row.mobile {
    flex-direction: row;
  }

  #project_description {
    font-size: 1em;
  }

  #project_title {
    font-size: 2.4em;
  }

  #project_category {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  #project_client {
    gap: 8px;
  }

  #project_client > img {
    width: 36px;
    height: 36px;
  }

  #project_client a {
    text-decoration-line: underline;
  }

  .section_highlight {
    flex-direction: column;
    padding: 24px 3%;
    gap: 20px;
  }

  .section_text {
    padding: 0;
    height: auto;
  }

  .section_text > h3 {
    font-size: 1.8em;
  }

  .section_text > p {
    text-align: center;
  }

  .section_video {
    max-width: 92vw;
  }

  .section_video > iframe {
    width: 92vw;
  }

  .section_image {
    padding: 24px 3%;
  }

  .gap {
    gap: 12px;
  }

  .section_image > .div_row {
    width: 92vw;
  }

  .div_row .showcase {
    width: 27vw;
    height: 27vw;
  }

  .banner {
    width: 92vw;
    height: 120px;
    object-fit: cover;
    flex: 1 1 auto;
  }

  .deco_active_son {
    bottom: -40px;
    right: 0%;
    rotate: -3deg;
    transform: scale(0.8);
  }

  .button {
    transform: scale(0.9);
    transform-origin: center center;
  }

  footer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #211a19;
    padding: 32px 0px;
  }

  footer {
    align-items: center;
  }

  #footer_content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  #footer_content_name {
    align-items: center;
  }

  #footer_content_name > h4 {
    font-size: 1.5em;
  }

  .footer_content_links {
    align-items: center;
  }
}
