* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #211a19;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
}

.quicksand-400 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.quicksand-600 {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.material-symbols-rounded {
    user-select: none;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

body {
    background-color: #faf4e8;
}

body > div {
    width: 100vw;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 44px;
}

h3 {
    font-size: 38px;
}

h4 {
    font-size: 32px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden; /* Cache-misère, la page dépasse un peu de 100vw */
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #faf4e8   ;
    width: 100vw;
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 1;
}

#liens {
    width: 84%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pages {
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#pages > a {
    font-weight: 500;
}

.nav_a {
    font-size: 20px;
    text-decoration-line: none;
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo > a > img {
    width: 48px;
    height: 48px;
    transition: transform 0.15s ease-out 0s;
}

#logo > a > img:hover {
    transform: scale(1.2);
}

#logo > a {
    margin-left: 12px;
    font-weight: 700;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > div, main > section {
    margin-top: 64px;
    margin-bottom: 32px;
    max-width: 100vw;
}

#projet_infos {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #211a19;
    margin-top: 0px;
}

#projet_infos * {
    color:#faf4e8;
}

#projet_infos_disposition {
    width: 80%;
    height: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#projet_titre {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#projet_titre > h3 {
    font-size: 20px;
}

#projet_misc {
    height: 100px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
}

#projet_categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#projet_categories > h4 {
    color:#211a19;
    font-weight: 600;
    font-size: 17px;
    margin-left: 16px;
    background-color: #56B88A;
    border: 2px solid #56B88A;
    padding: 2px 16px;
    border-radius: 28px;
}

#projet_client {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#projet_client > img {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin-right: 16px
}

#projet_client a {
    text-decoration-line: none ;
}

#projet_client a:hover {
    text-decoration-line: underline ;
}

#section1 {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0px
}

#section1 > video {
    width: 480px;
    height: 480px;
    border-radius: 16px;
}

#section1_text {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 32px 48px;
}

.info_time {
    display: flex;
    color:#faf4e8;
    text-decoration-line: none ;
    background-color: #211a19;
    border: 6px solid #211a19;
    padding: 6px 24px 12px 16px; /* code pourri pour contourner l'icône mal positionnée */
    border-radius: 32px;
    transition: background-color 0.15s ease-out 0s, border-color 0.15s ease-out 0s;
}

.info_time * {
    color:#faf4e8;
}


.inline {
    display: inline;
}

.underline_green {
    text-decoration-line: underline;
    text-decoration-color: #56B88A;
}

#grid {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.card {
    display: flex;
    margin-bottom: 24px;
    background: center / cover url("https://picsum.photos/200/300"); /* Image de projet par Alexandre Tachau */
    width: 330px;
    transition: transform 0.15s ease-out 0s;
    background-color: #211a19;
    border-radius: 16px;
    aspect-ratio: 1/1;
    margin: 10px;
}

.card * {
    transition: opacity 0.15s ease-out 0s;
}

.hide {
    display: none;
    opacity: 0;
}

.card:hover {
    transform: scale(1.1);
}

.gradient {
    width: 100%;
    height: 50%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), #56B88AFF);
    border-radius: 0px 0px 16px 16px;
    position: absolute;
    bottom: 0px;
    transition: opacity 1s ease-out 0s;
    opacity: 0
}

.card:hover > .hide {
    display: flex;
    opacity: 1;
}

.card_infos {
    flex-direction: column;
    position: absolute;
    padding: 16px;
    bottom: 0px;
    transition: opacity 0.8s ease-out 0s;
}

.card_infos > h5 {
    text-transform: uppercase;
}

.card_infos > * {
    color: white;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

#projet_fin {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #211a19;
    margin-bottom: 0px;
}

#projet_fin_disposition {
    width: 80%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#projet_fin_disposition * {
    color:#faf4e8
}

#button_more > a {
    color:#211a19;
    font-weight: 600;
    text-decoration-line: none ;
    background-color: #56B88A;
    border: 20px solid #56B88A;
    border-radius: 16px;
    transition: background-color 0.15s ease-out 0s, border-color 0.15s ease-out 0s;
}

#button_more:hover > a {
    background-color: #66d2a0;
    border-color: #66d2a0;
}

#contact {
    width: 70%;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #56B88A;
    border-radius: 16px;
}

footer {
    width: 100vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #211a19;
}

footer * {
    color: #faf4e8;
}

#footer_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}

#footer_content_name {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #211a19;
}